include post-meta.pug

//- title
mixin article_title(title, path)
  h2.post-title(itemprop='name headline')
    a(itemprop='mainEntityOfPage' href=url_for(path)) #{title}
//- Excerpt
mixin article_excerpt(excerpt, path)
  .post-photo(itemprop='image' href=page.photos && page.photos[0])
  .post-content(itemprop='articleBody')
    p.
      !{excerpt}
    p.more
      a(href=url_for(path)) - #{__('meta.more')} -
//- Content
mixin article_content(content)
  .post-content(itemprop='articleBody')
    p.
      !{content}
//- Tags
mixin article_tags(tags)
  if tags && tags.length > 0
    p.tags(itemprop='keywords')
      | #{__('meta.tags')}:
      |
      each tag, index in tags.toArray()
        if index > 0
          | ,
          |
        a(href=url_for(tag.path)) #{tag.name}

mixin seo(post)
  .hidden

mixin article(post)
  article.post(itemtype='http://schema.org/BlogPosting' itemscope)
    +article_title(post.title, post.path)
    +post_meta(post)
    +seo(post)
    if is_home() || is_tag() || is_category() || is_archive()
      if post.excerpt
        +article_excerpt(post.excerpt, post.path)
      else
        +article_content(post.content)
    else if is_archive()
    else if is_post()
      +article_content(post.content)
      +article_tags(post.tags)
    else if is_about()
      h2 #{__('about.aboutme')}
      +article_content(post.content)
      h2 #{__('about.links')}
      if Array.isArray(config.links)
        each link in config.links
          p
            a(href=link.url) #{href=link.title}
            |  (#{link.description})
