-
  let firstYear = (Math.min(site.posts.map(post => {return post.date.year()}).sort().shift(),site.pages.map(post => {return post.date.year()}).sort().shift()));
  let thisYear = moment(Date.now()).year();
| #{config.author} powered
|  #{firstYear < thisYear ? `${firstYear}-` : ''}#{thisYear}
br
if theme.busuanzi
  script(async=null src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js")
  span#busuanzi_container_site_pv
    span#busuanzi_value_site_pv
    |  siteviews
if theme.license
  br
  a(href="https://creativecommons.org/licenses/by-nc/4.0/"  target="_blank") CC BY 4.0
