-
  let firstYear = (Math.min(site.posts.map(post => {return post.date.year()}).sort().shift(),site.pages.map(post => {return post.date.year()}).sort().shift()));
  let thisYear = moment(Date.now()).year();
span(itemprop="copyrightHolder") #{config.author}
|  powered#{' '}
span(itemprop="copyrightYear").
  #{firstYear < thisYear ? `${firstYear}-` : ''}#{thisYear}
br
if theme.busuanzi
  span#busuanzi_container_site_pv
    span#busuanzi_value_site_pv
    |  siteviews
if theme.license
  br
  a(href="https://creativecommons.org/licenses/by-nc/4.0/"  target="_blank") CC BY 4.0
