.container
  .row
    .site-name.col-mb-12.col-9
      a#logo(href=url_for()) #{config.title}
      p.description #{config.subtitle || config.description}
    .site-search.col-3.kit-hidden-tb
      //- TODO: search
      //- | !{search_form()}
      form#search(method='get' action='//google.com/search'
        accept-charset="UTF-8" class="search-form" role='search')
        input.text(name='q' placeholder=__('search.placeholder') type='text')
        input(type="hidden" name="sitesearch" value=config.url)
        button.submit(type='submit') #{__('search.submit')}
    .col-mb-12
      nav#nav-menu.clearfix
        include _header/menu.pug
