ul.post-near
  li
    | #{__('index.prev_page')}:
    |
    if page.prev
      a(href=url_for(page.prev.path))
        | #{page.prev.title}
    else
      | #{__('index.no_page')}
  li
    | #{__('index.next_page')}:
    |
    if page.next
      a(href=url_for(page.next.path))
        | #{page.next.title}
    else
      | #{__('index.no_page')}
