ul.post-near
  li
    | #{__('page.prev_post')}:
    |
    if page.prev
      a(href=url_for(page.prev.path))
        | #{page.prev.title}
    else
      | #{__('page.no_post')}
  li
    | #{__('page.next_post')}:
    |
    if page.next
      a(href=url_for(page.next.path))
        | #{page.next.title}
    else
      | #{__('page.no_post')}
